@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing:border-box ;
    font-family: 'Oswald', sans-serif;
    max-width: 1200px;
    max-height: 100%;
}

/* -----------------------Header-------------------- */
 h1{
    font-size: 40px;
    font: weight bold; ;
    display: flex;
    justify-content: center;
    text-align: center;
}


/* -----------------------NavBar-------------------- */


 .menu{
    
    color: black;
    font-size: 20px;
}

.menu ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu li{
    font-weight: 200px;
    padding-right: 10px;   
}

.menu a{
    text-decoration: none;
    color: black;
}

li a:hover{
    color: grey;
}

/*--------------------------VideoSection-----------*/

.introduction  p{
    position: absolute;
    top: 35%;
    left: 72%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 25px;
    font-weight: bolder;
    border: grey 1px solid;
    padding: 10px;
    background-color: rgba(69, 45, 126, 0.11);
    border-radius: 2px;
}

.introduction video{
    border-radius: 5px;
}

.introduction  a{
    text-decoration: none;
    color: black;
    position: absolute;
    top: 115%;
    left: 20%;
    transform: translate(-50%,-50%);
}

/*--------------------------PorQueInvertir-----------*/

.inversion-vid{
    margin-top: 60px;
}

.container .inversion-vid h2{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}

.container .inversion-vid iframe{
    width: 800px;
    height: 500px;
    display: flex;
    align-items: center;
    border: solid 1px black;
    border-radius: 5px;
}

.container .inversion-vid p{
    margin-top: 20px;
    display: block;
    width: 600px;
    font-size: 18px;
    font-weight: bold;
}


/*--------------------------Cursos-----------*/

.container .courses h2{
    font-weight: 900;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 40px;
}

.container .cursos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    
    
}

.container .cursos .box-1,.box-2,.box-3,.box-4,.box-5,.box-6{
    border: grey 1px solid;
    width: 400px;
    height: 250px;
    border-radius: 5px;
    padding: 10px;
}

.container .cursos .p-parent{
    font-size: 20px;
    font-weight: 900;
}

.container .cursos  .p-inner {
    text-align:justify;
    
}

.container .cursos a{
    text-decoration: none;
    font-weight: 900;
}

/* ------------------footer------------------- */
.container .footer{
    display: block;
    margin-top: 50px;
    
}

.container .footer li{
    list-style: none;
}

.container .footer .links{
   float: left;
   font-weight: bold;
}

.container .footer .redes{
   
    align-items: center;
    width: 300px;
    margin-top: 10px;
    font-weight: bold;
}

.container .footer .direccion{
    display: flexbox;
    float: right;
    margin-top: -115px;
    font-weight:bolder;
    font-size: 16px;
}

.container .footer p{
   text-align: center;
   margin-top: 50px;
}

.container .footer a{
    text-decoration: none;
    color: black;
}